:root{
    --light-bg: #D3DFE4;
    --light-nav: #F2F2F2;
    --light-Lbtn: #363636;
    --light-DMfill: #9DBDCB;
    --light-DMstroke: #D3DFE4;
    --light-DMbtn: #E6E6E6;
    --light-Lhover: #5DCEFF;
    --light-Letter: #233A43;
    --shadow: #000000;
    --white: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.20);
    --input-data: invert(1);
}

.dark{
    --light-bg: #233A43;
    --light-nav: #363636;
    --light-Lbtn: #E6E6E6;
    --light-DMfill: #161616;
    --light-DMstroke: #000000;
    --light-DMbtn: #000000;
    --light-Lhover: #5DCEFF;
    --light-Letter: #ffffff;
    --shadow: #ffffff;
    --white: #000000;
    --input-data: invert(0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family:'Inter', sans-serif;
    transition: 0.2s;
}

i{
    color: var(--light-Lbtn);
}

span{
    overflow: hidden;
}

body {
    background-color: var(--light-bg);
    width: 100%;
}

a {
    font-weight: 500;
    font-size: 18px;
    color: var(--light-Lbtn);
    text-decoration: none;
    text-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
}

/* ======= NAVBAR ITEMS  ==================================*/
.logo {
    cursor: pointer;
    width: 3vh;
    margin-right: auto;
}

.label {
    background-color: var(--light-DMfill);
    border: 1px solid var(--light-DMstroke);
    border-radius: 120px;
    align-items: center;
    box-shadow: inset 0px 4px 4px var(--box-shadow);
    padding: 6px;
    min-width: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ball {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-left: -5px;
    transform: translateX(0px);
    transition: transform 0.2 linear;
}

.toggle {
    opacity: 0;
    position: absolute;
    right: 40px;
}

.toggle:checked + .label .ball{
    transform: translateX(26px);
}

.fa-sun {
    color: var(--light-Lbtn);
}

.fa-moon {
    color: var(--light-Lbtn);
    padding-left: 26px;
    position: absolute;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 30px;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: var(--light-Lhover);
}

nav ul li a:hover {
    color: var(--light-Lhover);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-nav);
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 45%);
    padding: 30px;
    width: 100%;
}

/* ========================== HOME MAIN ========================== */
main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

main section {
    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-content{
    overflow: hidden;
}

.div-Main-Title{
    display: flex;
    flex-direction: row;
}

.text-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    max-width: 70%;
    margin-left: 30px;
}

.title-main {
    font-size: 2em;
    color: var(--light-Lbtn);
}

.buttons-home {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
}

.btn-blue {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #5DCEFF;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
    text-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
    width: 15rem;
    transition: all 0.5s ease 0s;
}

.btn-blue:hover {
    background-color: #363636;
}

.btn-white {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    color: var(--light-Lhover);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
    text-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
    width: 15rem;
    transition: all 0.5s ease 0s;
}


.btn-white:hover {
    color: #ffffff;
    background-color: #363636;
}

.underline-home {
    background-color: var(--light-Lhover);
    content: '';
    width: 10px;
    height: 54px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.underline-home2 {
    background-color: var(--light-Lhover);
    content: '';
    width: 20px;
    height: 54px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.home-img {
    width: 45vh;
    margin: 10px;
}

.p-main {
    font-size: 24px;
    width: 100%;
    align-content: left;
    padding-top: 1vh;
    color: var(--light-Lbtn);
}

.pic {
    width: 45vh;
    max-width: max-content;
    border-radius: 50px;
}

.pic-ctn {
    position: relative;
    width: 45vh;
    height: 250px;
}

.pic-ctn > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}

/* ========================== HOME MAIN ANIMATION ========================== */
@keyframes display {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(-100px);
        opacity: 0;
    }
}

/* ========================== HOME MAIN RESPONSIVE ========================== */
@media (max-width: 767px) {
    main section {
        padding-left: 2vh;
        padding-right: 2vh;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }
    .text-button {
        max-width: 100%;
    }
    .btn-blue, .btn-white {
        margin-left: 14px;
        font-size: 18px;
        width: 10rem;
        font-size: 14px;
    }
    .buttons-home{
        flex-direction: column;
    }
    .pic-ctn {
        position: relative;
        width: 380px;
        height: 250px;
        margin-left: 50px;
    }
    .title-main{
        font-size: 22px;
    }
    .p-main {
        font-size: 18px;
    }
    .row-home{
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    main section {
        padding-left: 5vh;
        padding-right: 5vh;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    main section {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .title-main {
        font-size: 24px;
    }
    .p-main {
        font-size: 1em;
    }
    .home-img {
        width: 10vh;
    }
    .pic-ctn {
        margin-left: 40px;
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .pic-ctn {
        margin-left: 40px;
    }
}

/* ========================== PROPOSTA FORM MAIN ========================== */

.main-proposta-form{
    display: block;
    background-color: var(--light-nav);
    border-radius: 18px;
    min-height: fit-content;
    width: 90%;
    margin-left: 5%;
    right: 5%;
    padding: 20px;
    color: var(--light-Lbtn);
    justify-content: center;
    align-items: center;
}

.row-card{
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.input-text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 14px;
    flex-wrap: wrap;
}

.input-text-content textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.button-text-content{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.inputs-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    flex-basis: 100%;
    flex-grow: 2;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.input-cards h3{
    display: block;
    background-color: var(--light-DMbtn);
    padding: 12px;
    border-radius: 15px 0px 0px 15px;
}

.input-cards input{
    display: block;
    background-color: var(--light-Lbtn);
    padding: 14px;
    border-radius: 0px 15px 15px 0px;
    border: 0;
    color: var(--light-nav);
    color-scheme: var(--light-nav);
}

.input-cards input::-webkit-calendar-picker-indicator {
    filter: var(--input-data);
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-text textarea{
    display: block;
    background-color: var(--light-DMbtn);
    padding: 14px;
    border-radius: 15px;
    border: 0;
    resize: none;
}

.input-text{
    display: block;
    background-color: var(--light-DMbtn);
    padding: 8px;
    border-radius: 15px;
    border: 0;
}

.input-text-area{
    display: block;
    background-color: var(--light-DMbtn);
    padding: 8px;
    border-radius: 15px;
    border: 0;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 200px;
    color: var(--light-Letter);
}

#spnDescricao, #spnHabilidades{
    max-width: 100%;
}

.input-text-area textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    color: var(--light-Letter);
}

/*  checkobox as button */
.cat{
    margin: 1px;
    border-radius: 4px;
    border: 1px solid var(--light-Lbtn);
    overflow: hidden;
    float: left;
    border-radius: 15px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
}
  
.cat label {
    float: left; 
    line-height: 2em;
    width: 14em; 
    height: 2.4em;
}
  
.cat label span {
    text-align: center;
    padding: 3px 0;
    display: block;
}
  
.cat label input {
    position: absolute;
    display: none;
    color: var(--light-Lbtn) !important;
}
  /* selects all of the text within the input element and changes the color of the text */
.cat label input + span{color: var(--light-Lbtn);}
  
  
  /* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
    color: #ffffff;
    background-color: var(--light-Lhover);
    border-radius: 10px;
    height: 2.4em;
}

.content{
    margin: 14px;
}

.btn-form-proposta{
    background-color: var(--light-Lbtn);
    padding: 14px 28px;
    border-radius: 28px;
    color: var(--light-nav);
    border: 0;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
}

.btn-form-proposta:hover{
    background-color: var(--light-DMfill);
    color: #f2f2f2;
}

/* ========================== PROJETO FORM MAIN ========================== */
.main-projeto-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
}

.row-projeto-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.nome-proj{
    background-color: var(--light-DMbtn);
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
}

.descricao{
    background-color: var(--light-DMbtn);
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 8px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
}

.habilidades{
    background-color: var(--light-DMbtn);
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 8px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
}

.qtd-frela{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.inlineButton{
    border: none;
    background-color: transparent;
}

.hide {
    display: none !important;
}

.show {
    display: flex;
}

.section-projeto-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    background-color: var(--light-nav);
    border-radius: 20px;
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    padding: 14px;
    color: var(--light-Lbtn);
}

.qtd-frela{
    align-items: end;
}

.qtd-frela i{
    font-size: 32px;
}

.row-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 14px;
    margin-top: 14px;
}

.input-text{
    color: var(--light-Letter);
}

@media (max-width: 768px) {
    .row-projeto-form{
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* ========================== PROJETO LIST MAIN ========================== */
.main-projeto-list{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

.section-projeto-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    color: var(--light-Lbtn);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.btn-filtro {
    display: none;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-nav);
    border-radius: 20px;
    padding: 14px;
    color: var(--light-Lbtn);
    width: 100%;
}

.habilidades-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-nav);
    border-radius: 20px;
    padding: 14px;
    color: var(--light-Lbtn);
    width: 100%;
}

.idioma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-nav);
    border-radius: 20px;
    padding: 14px;
    color: var(--light-Lbtn);
    width: 100%;
}

.filter-title h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filter-title fieldset {
    border: none;
}

.filter-title h1::after{
    content: "";
    position: absolute;
    background-color: var(--light-Lhover);
    height: 3px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    left: 0;
    bottom: -4px;
    border-radius: 4px;
}

.cat-idioma{
    border-radius: 4px;
    border: 1px solid var(--light-Lbtn);
    overflow: hidden;
    float: left;
    border-radius: 15px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
    margin-top: 10px;
}
  
.cat-idioma label {
    float: left; 
    line-height: 2em;
    width: 8em; 
    height: 2.4em;
    font-size: 14px;
}
  
.cat-idioma label span {
    text-align: center;
    padding: 3px 0;
    display: block;
}
  
.cat-idioma label input {
    position: absolute;
    display: none;
    color: var(--light-Lbtn) !important;
}
  /* selects all of the text within the input element and changes the color of the text */
.cat-idioma label input + span{color: var(--light-Lbtn);}
  
  
  /* This will declare how a selected input will look giving generic properties */
.cat-idioma input:checked + span {
    color: #ffffff;
    background-color: var(--light-Lhover);
    border-radius: 10px;
    height: 2.4em;
}

.select{
    margin: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select select{
    text-align: left;
    width: 24rem;
    padding: 4px;
    border: 0;
    background-color: var(--light-Lbtn);
    border-radius: 24px;
    color: var(--light-nav);
}

.checkbox-filter{
    margin: 14px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.checkbox label{
    padding-left: 6px;
    cursor: pointer;
}

.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    border: 0.2rem solid var(--light-Lhover);
    background-color: var(--light-nav);
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

.checkbox-input:checked {
    outline-color: var(--light-nav);
    background-color: var(--light-Lhover);
}

@keyframes toggleOnRadio {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}

.row-projeto-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.projetos{
    background-color: var(--light-nav);
    padding: 14px;
    border-radius: 24px;
}

.descricao-div h1{
    margin-bottom: 8px;
}

.habilidades-div h1{
    margin-bottom: 8px;
}


.btn-list-projeto{
    background-color: var(--light-Lbtn);
    padding: 10px 28px;
    border-radius: 28px;
    color: var(--light-nav);
    border: 0;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
    font-weight: bold;
}

.btn-list-projeto:hover{
    background-color: var(--light-DMfill);
    color: #f2f2f2;
}

.row-btn-projeto{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 14px;
    margin-top: 14px;
    gap: 14px;
}

.qtd_proposta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--light-Lbtn);
    padding: 10px 28px;
    border-radius: 28px;
    font-size: 12px;
    color: var(--light-nav);
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
}

.qtd_proposta span{
    color: var(--light-Lhover);
}

.btn-filtro {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.btn-filtro button{
    padding: 18px;
    margin-top: 24px;
    margin-right: 24px;
    font-size: 24px;
    background-color: var(--light-Lbtn);
    border-radius: 100%;
    border: none;
}

.fa-sliders{
    color: var(--light-nav);
}

@media (max-width: 768px) {
    .main-projeto-list{
        flex-direction: column;
        overflow: hidden;
    }

    .filter-title{
        width: 100%;
    }

    .filter-title h1{
        font-size: 22px;
    }

    .btn-list-projeto{
        font-size: 10px;
    }

    .qtd_proposta{
        font-size: 10px;
    }

    .select select{
        width: 100%;
    }
    
    .filter {
        width: 100%;
        display: none;
    }
    
    .btn-filtro {
        display: flex;
    }
}

/* ========================== FOOTER ========================== */
.footer{
    background-color: var(--light-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 45%);
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding-left: 0.6%;
    padding-right: 0.6%;
    padding-top: 20px;
}

.content-footer{
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    margin: 0 5% 0 5%;
}

.direct-footer{
    margin-top: 14px;
    font-weight: bold;
    text-align: center;
}

.info-footer, .rede-footer, .direct-footer {
    color: var( --light-Lbtn);
}

.info-footer h1{
    position: relative;
    margin-bottom: 14px;
}

.info-footer h1::after{
    content: "";
    position: absolute;
    background-color: var(--light-Lhover);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -4px;
    border-radius: 4px;
}

.rede-footer i{
    font-size: xx-large;
}

.rede-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px
}

@media (max-width: 768px) {
    .footer{
        flex-direction: column;
    }
    .container-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .content-footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 14px;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .rede-footer svg{
        width: 6vw;
        height: 8vh;
    }
    .info-footer{
        width: 90%;
    }
}
