@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html { 
  font-family:'Inter', sans-serif;
}

:root{
  --light-bg: #D3DFE4;
  --light-nav: #F2F2F2;
  --light-Lbtn: #363636;
  --light-DMfill: #9DBDCB;
  --light-DMstroke: #D3DFE4;
  --light-DMbtn: #E6E6E6;
  --light-Lhover: #5DCEFF;
  --light-Letter: #233A43;
  --shadow: #000000;
  --white: #ffffff;
  --box-shadow: rgba(0, 0, 0, 0.20);
  --input-data: invert(1);
}

[data-theme="dark"] {
  --light-bg: #233A43;
  --light-nav: #363636;
  --light-Lbtn: #E6E6E6;
  --light-DMfill: #161616;
  --light-DMstroke: #000000;
  --light-DMbtn: #000000;
  --light-Lhover: #5DCEFF;
  --light-Letter: #ffffff;
  --shadow: #ffffff;
  --white: #000000;
  --input-data: invert(0);
}